<h2>管理者ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-center mb-3">
    <%= f.label :email, "メールアドレス", class: "mr-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", :size => "40" %>
  </div>

  <div class="field text-center">
    <%= f.label :password, "パスワード", class: "mr-5" %>
    <%= f.password_field :password, autocomplete: "current-password", :size => "40" %>
  </div>

  <div class="actions text-center mt-5">
    <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
