<%= flash[:notice] %>

 <div class='container mt-5 h-75'>

  <div class='row h-100'>
    <div class='col-md-2'>
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>

    <div  class='col-md-10'>
      <div class = "top-image text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <div>
        <div class = "new-arrival">
          <h3><strong>新着商品</strong></h3>
          <div class = "new-arrival-contents" style="display:flex; flex-wrap:wrap;">
            <% @new_items.each do |new_item| %>
              <%= link_to item_path(new_item), class:"text-dark"  do %>
              <div class="mr-3 mt-3">
                  <%= image_tag new_item.get_item_image, size:"200x150" %>
                  <p class="mt-3 mb-1"><strong><%= new_item.name %></strong></p>
                  <p class="mb-5"><strong>￥<%= new_item.add_tax_price.to_s(:delimited) %></strong></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
