<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h4 class="my-4", style="background-color: #eee; width:120px; padding-left: 12px;"><b>会員一覧</b></h4>

        <table class="table">
          <thead>
            <tr class="table-active">
              <th>会員ID</th>
              <th style="text-decoration: underline;">氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to admin_customer_path(customer), style: "color: #000; text-decoration: underline;" do %>
                <%= customer.lastname %><%= customer.firstname %>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <% if customer.is_deleted == false %>
                <td class="text-success font-weight-bold">有効</td>
              <% else %>
                <td class="text-secondary font-weight-bold">退会</td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
            <tr>
              <td colspan="4"></td>
            </tr>
        </table>

        <ul class="pagination justify-content-center">
          <%= paginate @customers %>
        </ul>

    </div>
  </div>
</div>
