

<div class = "ml-auto mr-auto mt-5" style = "width:1100px;">
  <h5 class = "ml-5 text-center", style = "width:150px; background-color:#eee; font-weight:bold;">注文情報確認</h5>
  <div>
    <div style = "display:inline-block">
      <table class = "table table-bordered border-dark" style = "width:700px; border-width:3px;">
        <thead>
          <tr style = "background-color:#eee;">
            <td class = "border-dark">商品名</td>
            <td class = "border-dark">単価(税込み)</td>
            <td class = "border-dark">数量</td>
            <td class = "border-dark">小計</td>
          </tr>
        </thead>
        <tbody>
          <% @customer.cart_items.each do |cart_item| %>
            <tr>
              <td class = "border-dark"><%= cart_item.item.name %></td>
              <td class = "border-dark"><%= cart_item.cart_tax_price.to_s(:delimited) %></td>
              <td class = "border-dark"><%= cart_item.amount %></td>
              <td class = "border-dark"><%= cart_item.cart_subtotal.to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div style = "display:inline-block">
      <table class = "table table-bordered border-dark ml-3", style = "width:300px; border-width:3px;">
        <tbody>
          <tr>
            <td class = "border-dark", style = "background-color:#eee;">送料</td>
            <td class = "border-dark" style = "width:150px;"><%= @shipping_cost.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class = "border-dark", style = "background-color:#eee;">商品合計</td>
            <td class = "border-dark" style = "width:150px;"><%= @cart_total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class = "border-dark", style = "background-color:#eee;">請求金額</td>
            <td class = "border-dark" style = "width:150px;"><%= @total_payment.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div>
      <span style = "font-weight:bold; font-size:20px;">支払い方法</span>
      <span class = "ml-3", style = "display:inline-block; font-size:20px;"><%= @confirm_payment_method %></span>
    </div>
    <div class = "mt-5">
      <span style = "font-weight:bold; font-size:20px; vertical-align:top">お届け先</span>
      <span style = "display:inline-block; font-size:20px; margin-left:36px;">
        〒<%= @selected_address.postal_code %><%= @selected_address.address %><br>
        <%= @selected_address.name %>
      </span>
    </div>
  </div>
  <div class = "mt-5 ml-auto mr-auto", style = "width:250px;">
    <%= form_with model:@order, method: :post do |f| %>
      <%= f.hidden_field :payment_method, :value => @confirm_payment_method %>
      <%= f.hidden_field :postal_code, :value => @selected_address.postal_code %>
      <%= f.hidden_field :address, :value => @selected_address.address %>
      <%= f.hidden_field :shipping_name, :value => @selected_address.name %>
      <%= f.submit "注文を確定する", class:"btn btn-success", style:"width:200px; font-weight:bold;" %>
    <% end %>
  </div>
</div>