<%= flash[:notice] %>
<div class='container mt-5 h-75'>
  <div class='row h-100'>
    <div class='col-md-2'>
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>

    <div  class='col-md-10'>
      <div>
        <div class = "new-arrival">
          <div style="display:flex; flex-wrap:wrap;">
            <h3><%= image_tag @item.get_item_image, size:"330x230" %></h3>
            <div class=" col-5 ml-5">
              <strong style="font-size:25px;"><%= @item.name %></strong><br>
              <div class="mt-3"><%= @item.introduction %></div><br>
              <div style="margin-top:60px;">
                <strong style="font-size:25px;">
                ￥<%= @item.add_tax_price.to_s(:delimited) %>
                </strong>
                <span>(税込)</span>
              </div>
              <div style="margin-top:40px;">
                <%= form_with model:@cart_item, method: :post do |f| %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.select :amount, [["１個",1],["２個",2],["３個",3],["４個",4],["５個",5],], prompt: "個数選択" %>
                  <%= f.submit "カートに入れる", class:"ml-5 mr-5 btn btn-success" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
